@model List<SepetItemDTO>
@if (Model.Count != 0)
{
    foreach (var urun in Model)
    {
        <div class="d-grid mt-2" style="border:5px solid grey; border-radius:8px; padding:15px">
            <div class="body row align-items-center">
                <div class="col-3">
                    <img src="~/@urun.Urun.GorselUrl" height="150" />
                </div>
                <div class="col-4">
                    <div class="mb-3">
                        @urun.Urun.UrunAdi
                    </div>
                    <div>
                        @urun.Urun.Marka, @urun.Urun.Kategori
                    </div>
                </div>
                <div class="col-2 sepetmiktar">
                    <span>
                        <a class="minus" href="https://localhost:7121/sepet/sepeturunmiktarazalt/@urun.Urun.UrunId"><i class="fa fa-minus" aria-hidden="true"></i></a>
                    </span>
                    <span style="background-color:#252525;color:aliceblue;text-align:center;padding:3px" class="mx-2">
                        @urun.miktar
                    </span>
                    <span>
                        <a class="plus" href="https://localhost:7121/sepet/sepeturunmiktararttir/@urun.Urun.UrunId"><i class="fa fa-plus" aria-hidden="true"></i></a>
                    </span>
                </div>
                <div class="col-2">
                    @(urun.Urun.Fiyat * @urun.miktar) TL
                </div>
                <div class="col-1">
                    <a class="delete" href="https://localhost:7121/sepet/sepeturunsil/@urun.Urun.UrunId"><img src="~/images/cop.png" width="40" /></a>
                </div>
            </div>
        </div>
    }
    <div id="siparisozet" class="d-grid" style="border-radius:8px; padding:15px">
        <div class="body row" style="border:3px solid #252525">
            <div class="col-5 p-5 m-3">
                <div>
                    Siparis Özeti
                </div>
            </div>
            <div class="col-2 p-5 m-3">
                @{
                    double toplamtutar2 = 0;
                    foreach (var prd in Model)
                    {
                        toplamtutar2 += Convert.ToDouble(prd.Urun.Fiyat * prd.miktar);
                    }

                }
                @toplamtutar2 TL
            </div>
            <div class="col-2 p-5 m-3">
                <button onclick="siparisVer()" class="btn btn-primary siparisver">Siparis Ver</button>
            </div>
            <div class="col-1 p-5 m-3" style="font-size:10px;">
                <a href="https://localhost:7121/sepet/sepetbosalt" class="btn btn-danger sepetibosalt">Sepeti Boşalt</a>
            </div>
        </div>
    </div>
}
else
{
    <div class="alert-warning w-100 text-center">
        Sepet boş
    </div>
}

<div class="modal" id="modal2">
    <div id="modal-content" class="mx-auto my-auto">
        <button class="modal-close">&times;</button>
        <h2 style="color:#f5f6f6">Sepet bilgileri</h2>
        <ul>
            <partial name="../PartialViews/_SepetUrunlerPartial" model="@Model"></partial>
        </ul>
        <p>Sepeti onaylıyor musunuz?</p>
        <a href="https://localhost:7121/sepet/siparisver" class="btn btn-danger mx-auto">Onayla</a>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    function siparisVer() {
        console.log("mkmd");
        $(".modal").css("display", "block");
    }
</script>