@model Urun

@{
    Layout = "AdminUILayout";
}

<style>
    table{
        border:2px solid grey;
    }
    td, th{
        text-align:center;
    }
    
    input{
        margin-bottom:30px;
    }
    form{
        width:80%;
    }
</style>

@if (ViewBag.error != null)
{
    if (ViewBag.error)
    {
        <div class="errordiv alert alert-success">
            <partial name="../PartialViews/_ErrorPartial" model=@String.Format("İşlem başarılı.")></partial>
        </div>
    }
    else
    {
        <div class="errordiv alert alert-danger">
            <partial name="../PartialViews/_ErrorPartial" model=@String.Format("İşlem başarısız.")></partial>
        </div>
    }

}

<h1>Ürünler</h1>

<div style="margin-bottom:15px;">
    <button class="btn btn-lg btn-success mb-5" onclick="urunekle()">Ürün ekle</button>
</div>
<div class="ekle" id="urunekle">
    <form asp-action="urunekle" asp-controller="a_Urunler" method="post" enctype="multipart/form-data">
        <span asp-validation-for="UrunAdi"></span>
        <label asp-for="UrunAdi" class="form-label">Ürün adı</label>
        <input type="text" class="form-control" asp-for="UrunAdi" placeholder="Ürün adı" />
        <span asp-validation-for="Fiyat"></span>
        <label asp-for="Fiyat" class="form-label">Fiyat</label>
        <input type="number" class="form-control" asp-for="Fiyat" placeholder="Fiyat" />
        <span asp-validation-for="Stok"></span>
        <label asp-for="Stok" class="form-label">Stok</label>
        <input type="number" class="form-control" asp-for="Stok" placeholder="Stok"  />
        <div class="d-flex justify-content-around">

            <label asp-for="UrunCesidi" class="form-label mr-2 pt-1">Ürün çeşidi</label>
            <select asp-for="UrunCesitId" class="form-select w-25" placeholder="Ürün çeşidi">
                <option value=1>Yağ</option>
                <option value=2>Parça</option>
            </select>

            <label asp-for="kategori" class="form-label mr-2 pt-1">Kategori</label>
            <select asp-for="KategoriId" class="form-select w-25" placeholder="Kategori">
                @await Component.InvokeAsync("KategoriGetirComponent",new {requestforone=false})
            </select>
            
            <label asp-for="marka" class="form-label mr-2 pt-1">Marka</label>
            <select asp-for="MarkaId" class="form-select w-25" placeholder="Marka">
                @await Component.InvokeAsync("MarkaGetirComponent",new {requestforone=false})
            </select>

        </div>
        <label asp-for="Aciklama" class="form-label">Aciklama</label>
        <input type="text" class="form-control" asp-for="Aciklama" placeholder="Aciklama" />
        <label asp-for="GorselUrl" class="form-label">Görsel</label>
        @*<input type="hidden" name="GorselUrl" />*@
        <input type="file" class="form-control" name="file" />
        <input type="submit" class="btn btn-outline-success"/>
    </form>
</div>
<div>
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th>
                    Ürün ID
                </th>
                <th>
                    Ürün Adı
                </th>
                <th>
                    Fiyat
                </th>
                <th>
                    Stok
                </th>
                <th>
                    Kategori
                </th>
                <th>
                    Marka
                </th>
                <th>
                    Ürün çeşidi
                </th>
                <th>
                    Görsel
                </th>
                <th>
                    Ürün Açıklama
                </th>
                <th>
                    Düzenle
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var urun in ViewBag.Urunler)
            {
                <tr>
                    <td>
                        @urun.UrunId
                    </td>
                    <td>
                        @urun.UrunAdi
                    </td>
                    <td>
                        @urun.Fiyat TL
                    </td>
                    <td>
                        @urun.Stok adet
                    </td>
                    <td>
                        @await Component.InvokeAsync("KategoriGetirComponent",new {id=urun.KategoriId, requestforone=true})
                    </td>
                    <td>
                        @await Component.InvokeAsync("MarkaGetirComponent",new {id=urun.MarkaId, requestforone=true})
                    </td>
                    <td>
                        @{
                            var cesit = "";
                            switch (urun.UrunCesitId)
                            {
                                case 1:
                                    cesit = "Yağ";
                                    break;
                                case 2:
                                    cesit = "Parça";
                                    break;
                            }
                        }
                        @cesit
                    </td>
                    <td>
                        <img src="~/@urun.GorselUrl" height="70" />
                    </td>
                    <td>
                        @urun.Aciklama
                    </td>
                    <td>
                        <a href="https://localhost:7121/admin/a_Urunler/urunduzenle/@urun.UrunId" class="btn btn-sm btn-primary mr-3">Düzenle</a>
                        <button class="btn btn-sm btn-danger" id="sil" onclick="Sil(@urun.UrunId)" data-id="@urun.UrunId">Sil</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>

<div class="modal" id="modal3">
    <div id="modal-content" class="mx-auto my-auto">
        <button class="modal-close">&times;</button>
        <h2 style="color:#f5f6f6">Ürünü silinecek</h2>

        <p>Ürünü silmek istiyor musunuz?</p>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script>
    function urunekle(){
        document.getElementById("urunekle").style.display="flex";
    }

    function Sil(id) {
        $("#modal3").css("display", "block");
        document.getElementById("modal-content").innerHTML += `
                    <a href="https://localhost:7121/admin/a_Urunler/urunsil/${id}" class="btn btn-danger mx-auto">Onayla</a>
            `
    }
</script>

@if (ViewBag.urunekle != null)
{
    <script>
        urunekle();
    </script>
}