@model Urun

@{
    Layout = "AdminUILayout";
}
<style>
    .w-75 input {
        margin-bottom: 30px;
    } 
</style>

@if (ViewBag.error != null)
{
    if (ViewBag.error)
    {
        <div class="errordiv alert alert-success">
            <partial name="../PartialViews/_ErrorPartial" model=@String.Format("İşlem başarılı.")></partial>
        </div>
    }
    else
    {
        <div class="errordiv alert alert-danger">
            <partial name="../PartialViews/_ErrorPartial" model=@String.Format("İşlem başarısız.")></partial>
        </div>
    }

}


<div class="align-items-center">
    <h1>Ürün Duzenle</h1>
    <form class="w-75" asp-action="urunduzenle" asp-controller="admin" method="post" enctype="multipart/form-data">
        <input asp-for="UrunId" type="hidden" value="@Model.UrunId"/>
        <span asp-validation-for="UrunAdi"></span>
        <label asp-for="UrunAdi" class="form-label"></label>
        <input type="text" class="form-control" asp-for="UrunAdi" placeholder="Ürün adı" value="@Model.UrunAdi" />
        <span asp-validation-for="Fiyat"></span>
        <label asp-for="Fiyat" class="form-label"></label>
        <input type="number" class="form-control" asp-for="Fiyat" value="@Model.Fiyat" />
        <span asp-validation-for="Stok"></span>
        <label asp-for="Stok" class="form-label"></label>
        <input type="number" class="form-control" asp-for="Stok" value="@Model.Stok" />
        <div class="d-flex justify-content-around">
            <label asp-for="UrunCesidi" class="form-label mr-2 pt-1"></label>
            @{
                var cesit="";
                switch (Model.UrunCesitId)
                {
                    case 1:
                        cesit = "Yağ";
                        break;
                    case 2 : 
                        cesit = "Parça";
                        break;
                }
            }

            <select asp-for="UrunCesitId" class="form-select w-25" placeholder="Ürün çeşidi" value="@cesit">
                <option value=1>Yağ</option>
                <option value=2>Parça</option>
            </select>
            <label asp-for="kategori" class="form-label mr-2 pt-1"></label>
            <select asp-for="KategoriId" id="kategoriselect" class="form-select w-25" placeholder="Kategori" value=@Model.KategoriId>
                @await Component.InvokeAsync("KategoriGetirComponent",new {requestforone=false})
            </select>
            <label asp-for="marka" class="form-label mr-2 pt-1"></label>
            <select asp-for="MarkaId" id="markaselect" class="form-select w-25" placeholder="Marka" value=@Model.KategoriId>
                @await Component.InvokeAsync("MarkaGetirComponent",new {requestforone=false})
            </select>
        </div>
        <label asp-for="Aciklama" class="form-label mt-4"></label>
        <input type="text" class="form-control" asp-for="Aciklama" placeholder="Aciklama" value="@Model.Aciklama" />
        <label asp-for="GorselUrl" class="form-label">Görsel</label>
        <div class="d-flex align-items-center">
            <img src="~/@Model.GorselUrl" width="70px"/>
            <input asp-for="GorselUrl" type="hidden" value="@Model.GorselUrl"/>
            <input type="file" class="form-control ml-1" name="file" />
        </div>
        <input type="submit" class="btn btn-outline-success mt-4" />
    </form>
</div>